<div class="theme-toggle" role="radiogroup" aria-label="Colour theme">
  @for (option of options; track option.value; let i = $index) {
    <button
      #option
      type="button"
      role="radio"
      class="theme-toggle__option"
      [class.theme-toggle__option--selected]="preference() === option.value"
      [attr.aria-checked]="preference() === option.value"
      [attr.tabindex]="preference() === option.value ? 0 : -1"
      [attr.data-icon]="option.icon"
      (click)="select(option.value)"
      (keydown)="onKeydown($event, i)"
    >
      {{ option.label }}
    </button>
  }
</div>
