<p-datepicker
  class="app-control"
  inputStyleClass="app-control"
  [inputId]="inputId()"
  [placeholder]="placeholder()"
  [ariaLabel]="ariaLabel()"
  [dateFormat]="format()"
  [minDate]="minDate()"
  [maxDate]="maxDate()"
  [showIcon]="true"
  [showButtonBar]="true"
  [readonlyInput]="false"
  [disabled]="isDisabled() || readonly()"
  [invalid]="field?.invalid() ?? false"
  [ngModel]="value()"
  [ngModelOptions]="{ standalone: true }"
  (ngModelChange)="onModelChange($event)"
  (onBlur)="markTouched()"
/>
