<section class="form-section" [attr.aria-labelledby]="headingId">
  <div class="form-section__header">
    @switch (headingLevel()) {
      @case (2) {
        <h2 class="form-section__title" [id]="headingId">{{ title() }}</h2>
      }
      @case (4) {
        <h4 class="form-section__title" [id]="headingId">{{ title() }}</h4>
      }
      @default {
        <h3 class="form-section__title" [id]="headingId">{{ title() }}</h3>
      }
    }

    @if (collapsible()) {
      <button
        type="button"
        class="form-section__toggle"
        [attr.aria-expanded]="!isCollapsed()"
        [attr.aria-controls]="bodyId"
        (click)="toggle()"
      >
        {{ isCollapsed() ? 'Show' : 'Hide' }}
      </button>
    }
  </div>

  @if (description()) {
    <p class="form-section__description" [id]="descriptionId">{{ description() }}</p>
  }

  <div class="form-section__body" [id]="bodyId" [hidden]="isCollapsed()">
    <ng-content />
  </div>
</section>
