<p-confirmdialog
  styleClass="app-confirm-dialog"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [blockScroll]="true"
  [focusTrap]="true"
  [modal]="true"
  [draggable]="false"
  [closable]="true"
  [pt]="passThrough"
  (onHide)="onDialogHide()"
>
  <ng-template #message let-confirmation>
    <div #body class="app-confirm-dialog__body">
      <p class="app-confirm-dialog__message">{{ confirmation.message }}</p>

      @if (reasonRequired()) {
        <app-form-field
          [label]="reasonLabel()"
          [required]="true"
          hint="The server records this reason against the document."
        >
          <app-textarea [formControl]="reasonControl" [rows]="3" [maxlength]="500" />
        </app-form-field>
      }
    </div>
  </ng-template>

  <ng-template #footer>
    <div class="app-confirm-dialog__footer">
      <button type="button" class="app-confirm-dialog__button" (click)="cancel()">
        {{ cancelLabel() }}
      </button>
      <button
        type="button"
        class="app-confirm-dialog__button app-confirm-dialog__button--confirm"
        [class.app-confirm-dialog__button--destructive]="destructive()"
        [disabled]="!canConfirm()"
        (click)="accept()"
      >
        {{ confirmLabel() }}
      </button>
    </div>
  </ng-template>
</p-confirmdialog>
