<p-drawer
  [(visible)]="visible"
  [header]="title()"
  position="right"
  styleClass="app-drawer"
  [modal]="true"
  [closable]="closable()"
  [closeOnEscape]="false"
  [dismissible]="closable()"
  [blockScroll]="true"
  ariaCloseLabel="Close panel"
  [style]="widthStyle()"
  (onShow)="onShow()"
>
  @if (resizable()) {
    <div
      class="app-drawer__resize"
      role="separator"
      aria-orientation="vertical"
      aria-label="Resize panel"
      tabindex="0"
      [attr.aria-valuenow]="width()"
      [attr.aria-valuemin]="minWidth"
      [attr.aria-valuemax]="maxWidth"
      (keydown)="onResizeKeydown($event)"
      (mousedown)="onResizeStart($event)"
    ></div>
  }
  <div #body class="app-drawer__body">
    <ng-content />
  </div>
</p-drawer>
