<p-dialog
  [(visible)]="visible"
  [header]="title()"
  [modal]="true"
  [closable]="closable()"
  [closeOnEscape]="closable()"
  [dismissableMask]="false"
  [blockScroll]="true"
  [focusTrap]="true"
  [focusOnShow]="true"
  closeAriaLabel="Close dialog"
  [draggable]="false"
  [resizable]="false"
  [styleClass]="'app-modal app-modal--' + size()"
  appendTo="body"
  (onShow)="onShow()"
  (onHide)="onHide()"
>
  <div #body class="app-modal__body">
    <ng-content />
  </div>
  <ng-template #footer>
    <ng-content select="[appModalFooter]" />
  </ng-template>
</p-dialog>
